@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities{

  .transition-smooth {
      transition-duration: 0.2s;
      transition-timing-function: ease-in-out;
    }
    
    .transition-smooth:hover {
      transition-duration: 0.2s;
      transition-timing-function: ease-in-out;
    }


    .no-vertical-scrollbar{
      overflow-y: scroll;
      overflow-x: hidden;
  }

  .no-vertical-scrollbar::-webkit-scrollbar {
    width: 0;
  }
  
  .custom-select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }


}